*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(42, 60, 123);
    height: 100vh;
} 
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5rem;
}
h1{
    color: white;
    font-size: 40px;
    padding-bottom: 15px;
    letter-spacing: 1px;
}
h3{
    color: white;
    /* font-size: 40px; */
    padding-bottom: 55px;
    letter-spacing: 1px;
}
.card{
    background-color: aliceblue;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}
.card img{
    height: 100px;
    width: 100px;
    margin-bottom: 8px;
}
.card h4{
    font-size: larger;
    padding-bottom: 2px;
}
.card .review{
    padding-bottom: 20px;
}
.card .review .star{
    font-size: 12px;
    color: rgb(242, 178, 0);
}
.btns{
    font-size: xx-large;
    position: absolute;
    top: 25px;
    right: 35px;
}
.btns .prevbtn{
    color: rgb(242, 178, 0);
    border-radius: 50%;
    padding: 10px;
}
.btns .nextbtn{
    color: rgb(242, 178, 0);
    border-radius: 50%;
    padding: 10px;
}
.btn:hover{
    color: aliceblue;
    background-color: rgb(242, 178, 0);
    padding: 5px 10px;
}
@media only screen and (max-width:610px){
    .card{
        width: 70%;
    }
}

